.header-search-close {
  flex: 0 0 auto;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border: 0;
  background: $gray;
  border-radius: 50%;
  transition: .15s;

  &:hover {
    @media (hover: hover) {
      cursor: pointer;
      background: $link-hover;
    }
  }

  &__ico {
    flex: 0 0 auto;
    display: block;

    & rect {
      fill: #fff;
    }
  }
}